<div class="search-wrapper">
  <div class="search-box">
    <i class="wi wi-day-sunny"></i>
    <input matInput
           [formControl]="searchControl"
           [matAutocomplete]="auto"
           placeholder="Search for a city..."
           class="search-input">
    <button class="search-button" (click)="getWeather()">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <mat-autocomplete #auto="matAutocomplete" 
                   [displayWith]="displayFn"
                   (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngFor="let location of locations" [value]="location">
      {{location.name}}, {{location.region}}, {{location.country}}
    </mat-option>
  </mat-autocomplete>
</div>